.Card {
    position: relative;
    cursor: pointer;
    background: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
    font-size: 15px;
    overflow-wrap: break-word;
    min-height: 18px;
  }
  
  .Card:hover {
    background: #f5f6f7;
  }